{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!
{% endblock %}

{% block body %}

	<center>
		<h1 class"text-align-center">La vision des pays
		</h1>
	</center>
	<div class="row">
		<div class="col-3 m-1">

			<div class="card m-5" style="width: 18rem;">
				<img class="card-img-top" src="https://images.assetsdelivery.com/compings_v2/jakobradlgruber/jakobradlgruber1603/jakobradlgruber160300041.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{pays[0].title}}</h5>
					<a href="#" class="btn btn-primary">{{pays[0].description}}</a>
				</div>
			</div>
			<div class="card m-5" style="width: 18rem;">
				<img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/11/18/16/03/valencia-1049389_960_720.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{pays[1].title}}</h5>
					<a href="#" class="btn btn-primary">{{pays[1].description}}</a>

					<h6 class="card-title">{{avis[0].commentaire}}</h5>

				</div>
			</div>
			<div class="card m-5" style="width: 18rem;">
				<img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/05/31/19/51/door-115093__340.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{pays[2].title}}</h5>
					<a href="#" class="btn btn-primary">{{pays[2].description}}</a>
				</div>
			</div>
			<div class="card m-5" style="width: 18rem;">
				<img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/12/13/17/42/casablanca-1091462__340.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{pays[3].title}}</h5>
					<a href="#" class="btn btn-primary">{{pays[3].description}}</a>
				</div>
			</div>
		</div>
		<div class="col-8 m-5">
			<div class="carte_allemagne m-1">
				<iframe src="https://www.google.com/maps/d/embed?mid=1IEl21CsR_QTW95RosPOkoo1e83iNiAIR" width="640" height="495.55"></iframe>
			</div>

			<div class="carte_Espagne mt-5">
				<iframe src="https://www.google.com/maps/d/embed?mid=1CzemMB0WHillRaDeYW1FawV52yQ" width="640" height="575"></iframe>
			</div>
			<div class="carte_Espagne mt-5">
				<iframe src="https://www.google.com/maps/d/embed?mid=1CzemMB0WHillRaDeYW1FawV52yQ" width="640" height="408.55"></iframe>
			</div>
			<div class="carte_Espagne mt-5">
				<iframe src="https://www.google.com/maps/d/embed?mid=1CzemMB0WHillRaDeYW1FawV52yQ" width="640" height="442.3"></iframe>
			</div>
			<div class="col-3 m-4"></div>
		</div>
		<div class="col"></div>
	</div>
{% endblock %}
