{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<left>
		<h1 align="center" class="register">Register</h1>
			<div align="left" >
				{{ form_start(registrationForm) }}

				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
					label: 'Password'
				}) }}
				{{ form_row(registrationForm.agreeTerms) }}
			</div>
	</left>
	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
	{% include '_navbar.html.twig' %}

{% endblock %}
